@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300,600);

@import "reset";

$red: rgba(205, 58, 51, 1);
$green: rgba(128, 180, 66, 1);
$blue: rgba(92, 193, 213, 1);
$yellow: rgba(251, 214, 69, 1);
$beige: rgba(234, 233, 215, 1);
$black: rgba(51, 51, 51, 1);

$topbar-height: 65px;

@mixin side-padding {
  padding: 1.5rem 1rem;
  @media (min-width:540px) {
    padding: 1.5rem 2rem;
  }
  @media (min-width:768px) {
    padding: 5rem 3rem;
  }
}

@mixin float-image-left {
  height: 300px;
  float: left;
  margin: 0 1em 1em 0;
}

@mixin columns($number) {
  -moz-column-count: $number;
  -moz-column-gap: 20px;
  -webkit-column-count: $number;
  -webkit-column-gap: 20px;
  column-count: $number;
  column-gap: 20px;
}

@mixin float-image-right {
  height: 300px;
  float: right;
  margin: 0 0 1em 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $black;
  @media (min-width:540px) {
    font-size: 1.2em;
  }
  @media (min-width:1024px) {
    margin-top: $topbar-height;
    font-size: 1.5em;
  }
  @media (min-width:1024px) {
    font-size: 1.2em;
  }
}

header {
  background-color: $green;
  color: white;
  text-align: center;
  @include side-padding;
  h1 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    @media (min-width:540px) {
      font-size: 2em;
    }
    @media (min-width:768px) {
      font-size: 2.5em;
    }
  }
}

#about ul {
  margin-bottom: 2em;
}

#about li {
  line-height: 2em;
  clear: both;
}

.logo {
  margin: 1rem 0;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  @media (min-width:1024px) {
    position: fixed;
    height: $topbar-height;
    background-color: white;
    margin: 0;
  }
  img {
    display: block;
    height: $topbar-height;
    @media (min-width:1024px) {
      display: inline;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  right: 1em;
  min-width: 850px;
  height: $topbar-height;
  font-size: 1rem;
  @media (max-width:1023px) {
    display: none;
  }
  .navigation-links {
    position: relative;
    height: $topbar-height - 2px;
    margin-bottom: 1.2em;
  }
  ul {
    position: absolute;
    bottom: 5px;
    right: 0;
    text-align: right;
    li {
      display: inline;
      margin-right: 1em;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: $black;
        font-weight: 400;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

section {
  @include side-padding;
}

#about {
  @media (min-width:768px) {
    p {
      font-size: 1.4rem;
    }
    img {
      @include float-image-left;
    }
    .pricing .book p {
      font-size: 24px;
    }
  }
  @media (min-width:1024px) {
    p {
      font-size: 1.5rem;
    }
  }
  .pricing {
    clear: both;
    text-align: center;
    .book {
      display: inline-block;
      margin-right: 1em;
    }
  }
  ul {
      list-style: disc;
      line-height: 1em;
  }
}

#table-of-contents {
  background-color: $blue;
  color: white;
  .contents {
    @media (min-width:1024px) {
      @include columns(2);
    }
  }
  ol.lessons {
    list-style: decimal;
    font-size: 0.8em;
    margin-left: 1.5em;
    line-height: 1.5em;
    @media (min-width:540px) {
      font-size: 1em;
      margin-left: 2.3em;
    }
  }
}

#sample-lesson {
  background-color: $yellow;
  @media (min-width:768px) {
    img {
      @include float-image-right;
    }
  }
  @media (min-width:800px) {
    font-size: 1.5em;
  }
  .resources {
    clear: both;
    text-align: center;
    a {
      display: inline-block;
      background-color: darken($yellow, 10%);
      margin: 10px auto;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: white;
      @media (min-width:540px) {
        min-width: 150px;
        font-size: 1.3em;
      }
      @media (min-width:768px) {
        min-width: 200px;
      }
      &:hover {
        background-color: darken($yellow, 20%);
      }
    }
  }
}

#bibliographic-information {
  background-color: $green;
  color: white;
  dt {
    font-weight: 400;
    display: inline;
  }
  dd {
    margin: 0.5em 0;
  }
}

footer {
  background-color: $beige;
  @include side-padding;
  ul {
    line-height: 2em;
  }
  a {
    color: darken($beige, 40%);
  }
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 0 1em 0;
  .subheading {
    font-weight: 300;
  }
  @media (min-width:540px) {
    font-size: 1.5rem;
  }
  @media (min-width:768px) {
    font-size: 1.8rem;
  }
}

p {
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto 1rem auto;
}

a {
  color: $blue;
  text-decoration: none;
}

a.button {
  display: block;
  background-color: darken($green, 10%);
  margin: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  @media (min-width:540px) {
    font-size: 1.5em;
  }
  &:hover {
    background-color: darken($green, 20%);
  }
}

.section-content {
  max-width: 800px;
  margin: auto;
}

.pricing {
  h3 {
    display: inline-block;
    font-weight: 400;
    &:after {
      content: ": ";
    };
  }
  p {
    display: inline-block;
  }
}

.contributor-heading {
    margin-top: 1.5em;
}

.contributor-list {
  .contributor {
    h3.contributor-name {
      font-weight: 400;
      margin-bottom: 0.75rem;
      @media (min-width:768px) {
        font-size: 1.5rem;
      }
      a {
        color: $red;
        text-decoration: none;
      }
    }
    img {
      display: none;
      margin: 0 1rem 0 0;
      float: left;
      max-height: 150px;
    }
    .biography {
      display: none;
    }
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
  }
}
